:root {
  --background-image-url: none;


    --app-th-color-blue: #3399FF;
    --app-th-color-gray: #666666;
    --app-th-color-white: #FFFFFF;
}


.base{
    width: 100%;
    min-height: 100vh;
    background-image: var(--background-image-url);
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment:fixed;
    background-position: center;
    background-origin: border-box;
}