:host {
    --window-height: 650px;
    display: block;
    width: 100%;
    height: var(--window-height);
}

.screen {
    display: block;
    width: 100%;
    height: var(--window-height);
}

@media ( max-width: 1000px ) {
    :host
    {
        --window-height: auto;
    }
}